:root {

    /* website colors*/
    --primary-color: #FABC3F;
    --secondary-color: #db7c00;
    --bg-color: #ffffff;
    --heading-color: #D8A25E;
    --font-color: aliceblue;
    --black-color: rgb(1, 1, 1);
    --gray-color: #333333;

    /* website border radius*/
    --border-radius: 20px;

    /* website box shadow*/
    --box-shadow: 0 6px 10px rgba(245, 201, 2, 0.6);

    /* website fonts*/
    --fon-header: "Parkinsans";
    --font-P: "Ubuntu";
    --extra-font: "Roboto";

    /* website transition*/
    --transition: 0.4s;
}


/*general reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
}

section {
    padding: 8rem 4rem;

}

.section_title h1 {

    text-align: center;
    font-size: 3rem;
    color: var(--primary-color);

}

h1,
h2 {
    font-family: var(--fon-header);
}

p {
    font-family: var(--font-P);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    width: 150px;
    height: 35px;
    outline: none;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    font-size: 16px;
    letter-spacing: 2px;
    font-family: var(--extra-font);
    transition: var(--transition);
    cursor: pointer;
}

button:hover {
    background-color: var(--black-color);
    color: var(--primary-color);
    transform: scale(1.04);
}

/*start styling of page*/

/*mobile navbar*/
.mobile_navbar {
    display: none;
}

/* start Header*/
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 4rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 70px;
    margin-top: 12px;
    border-bottom: 1px solid var(--primary-color);
}

/*cafe logo*/
.cafe_logo img {
    width: 40px;
    height: 40px;
}

.cafe_logo span {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--font-P);
    color: var(--primary-color);
}

/*navigation list*/
.nav_list ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-right: 8rem;
}

.nav_list ul li a {
    font-size: 20px;
    background-color: var(--primary-color);
    color: var(--black-color);
    font-family: var(--font-P);
    padding: 8px;
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.nav_list ul li a:hover,
.nav_list ul li a.active {
    background-color: var(--black-color);
    color: var(--primary-color);
    transform: scale(1.03);
}

/*HERO SECTION*/
#about {
    background-image: linear-gradient(rgba(104, 100, 91, 0.5), rgba(255, 162, 3, 0.9)),
        url(cafe_images/Hero_cofe.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 8rem 4rem;
}

.about_container h1 {
    font-size: 3rem;
    color: var(--gray-color);
}

.about_container h1 span {
    font-size: 3rem;
    color: var(--secondary-color);
}

.about_container p {
    font-size: 1.4rem;
    padding-top: 2rem;
    line-height: 2rem;
}

/*PRODUCTS PAGE*/
#products {
    background-image: linear-gradient(rgba(104, 100, 91, 0.9), rgba(255, 162, 3, 0.9)),
        url(cafe_images/Hero_cofe.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

/*Menu categories tabs */
.Anisette_category {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-top: 3rem;
}

/*styling tabs*/
.Juices_tab,
.coffees_tab {
    background-color: var(--primary-color);
    color: var(--black-color);
    padding: 0.6rem;
    width: 100px;
    text-align: center;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: var(--transition) ease-in;
}

.active_tab {
    background-color: var(--black-color);
    color: var(--primary-color);
    transform: scale(1.03);
}

.menu_visibility {
    display: none;
}

/*coffee product styling*/
.coffee_products {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 0 30px 0 30px;
    transition: opacity 0.6s ease-in;

}

.Juices_products {
    position: absolute;
    top: 44%;
    transform: translate(-50%);
    width: 52%;
    transition: opacity var(--transition) ease-in;
}

.menu_position {
    position: absolute;
    left: 34%;
}

.products_cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    height: 40vh;
    background-color: var(--gray-color);
    padding: 1rem;
    box-shadow: 0 4px 6px var(--box-shadow);
    border-radius: var(--border-radius);
}

.product_card img {
    width: 80%;
    max-width: 120px;
    height: 100px;
    object-fit: cover;
    border-radius: var(--border-radius);
    transition: var(--transition);
    cursor: pointer;
}

.product_card img:hover {
    transform: scale(1.02);
    box-shadow: var(--box-shadow);
}

.product_card h4 {
    color: var(--font-color);
    font-family: var(--font-P);
}

.product_sale {
    position: relative;
    left: 8%;
    width: 30%;
    height: auto;
    background-color: var(--gray-color);
    color: var(--font-color);
    height: auto;
    border-radius: var(--border-radius);
    padding: 1rem;

}


.product_properties {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.3rem;
    margin-top: 1.8rem;
}

.product_properties h3 {
    padding-top: 15px;
    font-family: var(--font-P);
    font-size: 16px;
    border-bottom: 1px solid var(--primary-color);
}

.product_image {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: column;
}

.product_image img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.NoProductFound {
    text-align: center;
    color: red;
    font-size: 20px;
}


.product_sale .day_End button {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 20px 0 30px;
    height: 2.6rem;
}

.product_sale .cancel_sale button {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    width: 90px;
    border-radius: 20px 0 30px 0;
    height: 2.6rem;
}

.product_sale .cancel_sale button:hover {
    color: var(--font-color);
}

.cancel_btn_visibility {
    display: none;
}

.total_display {
    margin-top: 1rem;
    background-color: var(--primary-color);
    color: var(--black-color);
    padding: 5px;
}


/*STATISTICS PAGE */
#statistics {
    background-image: linear-gradient(rgba(104, 100, 91, 0.9), rgba(255, 162, 3, 0.9)),
        url(cafe_images/Hero_cofe.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.statistics_box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    background-color: rgba(61, 59, 56, 0.4);
    height: 80vh;
    border-radius: var(--border-radius);
}

#daily_total_element h3 {
   color: #ffffff;
   font-size: 2rem;
   background-color: var(--primary-color);
   padding: 20px;
   border-radius: var(--border-radius);
   box-shadow: var(--box-shadow);

}